<!--Создал - Кузнецов Артём, ИС-21-31-->
<!--Доработал - Корляков Сергей, ИС-21-31-->

<!DOCTYPE html>

<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>
			Википедия по играм
		</title>
		<link href="css/global.css" rel="stylesheet">
		<link href="css/article.css" rel="stylesheet">
		<script src="js/libs/jquery-3.4.1.min.js"></script>
		<script src="js/switchThemes.js"></script>
	</head>
		
	<body>
		<header>
			<a href="index.html" class="logo">GameWiki by BushCherry</a>
			<div class="Blokdliknopok">
				<a href="#" class="obl" onclick="setLightTheme()">Light</a>
				<a href="#" class="obl" onclick="setDarkTheme()">Dark</a>
			</div>
		</header>
		
		<aside>
			<nav>
				<h3>Меню</h3>
				<ul>
					<li><a href="">Аркада</a></li>
					<li><a href="">Action</a></li>
					<li><a href="">Шутеры</a></li>
					<li><a href="">Приключения</a></li>
					<li><a href="">Стратегии</a></li>
					<li><a href="">RPG</a></li>
					<li><a href="">Гонки</a></li>
					<li><a href="">Квесты</a></li>
					<li><a href="">Симуляторы</a></li>
					<li><a href="">Спортивные игры</a></li>
					<li><a href="">Хоррор игры</a></li>
				</ul>
			</nav>	   
		</aside>

		<main>
			<div class="logo_game">
				<img src="img/A Plague Tale Innocence/1.jpg" width="250" alt="Пример" align="left">
			</div>

			<div class="tth">
				<p>Название: A Plague Tale: Innocence</p>
				<p>Год выхода: 14 мая 2019</p>
				<p>Жанр: Adventure, Action, Stealth, 3rd Person</p>
				<p>Разработчик: Asobo Studio</p>
				<p>Издательство: Focus Home Interactive</p>
				<p>Платформа: PC</p>
				<p>Язык интерфейса: Русский, Английский, Multi11</p>
				<p>Язык озвучки: Английский, Немецкий, Французский</p>
			</div>

			<div class="main_text">
				<h3>Описание:</h3>
		 			<p>Месяц назад стало известно, что столько долгожданная компьютерная игра под названием A Plague Tale: Innocence от студии Asobo Studio в этом году не появится. На одном из ивентом журналисты смогли лицезреть только приготовленный альфа-билд. Уже на это стадии игра выглядит достойно. Показали физику, геймплей, элементы окружения, главных героев и их врагов. Известно, что релиз должен состояться на PC, Xbox one и PS4 в 2019 году. Однако сразу как только игра появится, вы сможете бесплатно скачать торрент A Plague Tale: Innocence с нашего сайта с русским языком. Осталось только дождаться выхода приключенческого экшена. </p>
				<h3>Сюжет:</h3>
					<p>На дворе середина 14-го века. Франция. Повсюду царит пост-апокалиптическая атмосфера. Смерть и хаос управляют в этом мире. По всей стране активно распространяется смертоносная эпидемия чумы, уничтожая всех на своём пути. Она не щадит никого, в том числе и детей. В центре сюжета два главных героя – сестра и брат. Амисия и Хьюго пытаются сбежать от святой Инквизиции. Их родителей обвинили в колдовстве, а вскоре и казнили. На очереди были дети, но им удалось избежать печальной участи. Теперь они находятся в бегах. Они оба ещё дети, а потому главной их силой будет пытливый ум, ловкость и правильно использование окружения. </p>
				<h3>Геймплей:</h3>
					<p>Игровой процесс представлен в формате приключенческого экшена с элементами квеста и головоломки. На протяжении всего геймплея главным героям предстоит проходить различные испытания, выполнять задания, а также решать головоломки. Так как главные герои не обладают огромной мощью и силой, их основной оружие – это ум и ловкость. Главными противниками выступают солдаты с фонариками и крысы, ненавидящие свет. По словам разработчиков, сюжетная кампания рассчитана на 10 часов непрерывного прохождения. </p>
				<h3>Системные требования:</h3>
					<p>	Операционная система: Windows 7, Windows 8.1, Windows 10 (64-bit versions)<br>
						Процессор: Intel Core i3-2120 (3.3 GHz)/AMD FX-4100 X4 (3.6 GHz)<br>
						Оперативная память: 8 GB<br>
						Видеокарта: 2 GB, GeForce GTX 660/Radeon HD 7870<br>
						Свободное место на жестком диске: 41,5 GB</p>
				<h3>Особенности:</h3>
					<p>Вместе с Амицией и ее младшим братом Хьюго отправляйтесь в мрачное путешествие по средневековым деревням опустошенной чумой Франции. Избегайте несметных полчищ грызунов или манипулируйте ими, чтобы выжить и проложить себе путь. Объединяйтесь с другими сиротами, чтобы улизнуть от инквизиции и раскрыть тайну возникновения чумы, терроризирующей Францию. Прячьтесь от инквизиции, но берегитесь крыс. Вам придется научиться использовать одного врага, чтобы спастись от другого.</p>
				<h3>Герои:</h3>
					<p>АМИЦИЯ де РУН. Амиции 15 лет - это сильная и независимая девушка, которую отец научил всем премудростям охоты. Раньше она почти не виделась со своим младшим братом, но совсем скоро им придется доверить друг другу жизни.<br>
					ГУГО де РУН. Пятилетний Гуго болен неизвестной болезнью, из-за которой он почти все детство провел в четырех стенах. Он ничего не знает о мире вокруг, кроме одного: даже ужасы чумы страшат его меньше, чем жизнь взаперти.<br>
					ИНКВИЗИЦИЯ. Пока земли Франции разоряют чума и война, инквизиция гонится за детьми семейства де Рун - никто не знает почему. У Амиции и Гуго не хватит сил победить огромных рыцарей в открытом бою, так что детям потребуется вся их сноровка, чтобы сбежать от преследователей.<br>
					КРЫСЫ. Францию захлестнули полчища крыс. В пораженных чумой деревнях, в городах и на полях сражений эти неуправляемые вечно голодные твари сжирают все на своем пути. И, как кажется, только огонь и свет способны замедлить их наступление.</p>
			</div>

			<div class="trailers">
				<iframe width="426" height="326" src="https://www.youtube.com/embed/gjIb9dQgUF0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<iframe width="426" height="326" src="https://www.youtube.com/embed/MOtrSrgDaCY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		 </main>
		

	</body>

</html>