<!-- Создал    - Кузнецов Артём,  ИС-21-31-41 -->
<!-- Доработал - Корляков Сергей, ИС-21-31-41 -->

<!DOCTYPE html>

<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>MGS</title>
		<link rel="stylesheet" type="text/css" href="css/global-lib-buttons.css">
		<link rel="stylesheet" type="text/css" href="css/global-lib-forms.css">
		<link rel="stylesheet" type="text/css" href="css/global.css">
		<link rel="stylesheet" type="text/css" href="css/page-article.css">
	</head>
		
	<body class="global__body article__body">
		<header class="global__header">
			<a href="index.html" class="global__header-logo">MGS</a>

			<div class="global__header-search">
				<input class="global__header-search-input" type="text" placeholder="найти игру...">
				<button class="global__header-search-btn btn btn-mc btn-dark-green">найти</button>

				<script src="js/search.js"></script>
			</div>
		</header>
		
		<aside class="global__aside">
			<nav class="global__aside-nav">
				<h3>Меню</h3>
				
				<ul class="global__nav-list">
					<li class="global__nav-list-item">
						<a href="test">FPS</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">RPG</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">RTS</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Аркады</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Выживание</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Гонки</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Для девочек</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Драки</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Зомби</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Квесты</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Логические</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Музыкальные</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">На двоих</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Приключение</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Симуляторы</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Спортивные</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Стелс</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Стратегии</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Танцы</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Ужасы</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Шутеры</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Экшен</a>
					</li>
				</ul>
			</nav>
		</aside>

		<main class="global__main article__main">
			<section class="article__main-artcover-game">
				<img src="img/A Plague Tale Innocence/1.jpg" width="250" alt="Пример" align="left">
			</section>

			<section class="article__main-info-game">
				<p>
					<b>Название:</b> A Plague Tale: Innocence
				</p>
				<p>
					<b>Год выхода:</b> 14 мая 2019
				</p>
				<p>
					<b>Жанр:</b> Adventure, Action, Stealth, 3rd Person
				</p>
				<p>
					<b>Разработчик:</b> Asobo Studio
				</p>
				<p>
					<b>Издательство:</b> Focus Home Interactive
				</p>
				<p>
					<b>Платформа:</b> PC
				</p>
				<p>
					<b>Язык интерфейса:</b> Русский, Английский, Multi11
				</p>
				<p>
					<b>Язык озвучки:</b> Английский, Немецкий, Французский
				</p>
			</section>

			<section class="article__main-text">
				<h3 class="article__main-text-header">Описание:</h3>
		 			<p>Месяц назад стало известно, что столько долгожданная компьютерная игра под названием A Plague Tale: Innocence от студии Asobo Studio в этом году не появится. На одном из ивентом журналисты смогли лицезреть только приготовленный альфа-билд. Уже на это стадии игра выглядит достойно. Показали физику, геймплей, элементы окружения, главных героев и их врагов. Известно, что релиз должен состояться на PC, Xbox one и PS4 в 2019 году. Однако сразу как только игра появится, вы сможете бесплатно скачать торрент A Plague Tale: Innocence с нашего сайта с русским языком. Осталось только дождаться выхода приключенческого экшена. </p>
		 			
				<h3 class="article__main-text-header">Сюжет:</h3>
					<p>На дворе середина 14-го века. Франция. Повсюду царит пост-апокалиптическая атмосфера. Смерть и хаос управляют в этом мире. По всей стране активно распространяется смертоносная эпидемия чумы, уничтожая всех на своём пути. Она не щадит никого, в том числе и детей. В центре сюжета два главных героя – сестра и брат. Амисия и Хьюго пытаются сбежать от святой Инквизиции. Их родителей обвинили в колдовстве, а вскоре и казнили. На очереди были дети, но им удалось избежать печальной участи. Теперь они находятся в бегах. Они оба ещё дети, а потому главной их силой будет пытливый ум, ловкость и правильно использование окружения. </p>

				<h3 class="article__main-text-header">Геймплей:</h3>
					<p>Игровой процесс представлен в формате приключенческого экшена с элементами квеста и головоломки. На протяжении всего геймплея главным героям предстоит проходить различные испытания, выполнять задания, а также решать головоломки. Так как главные герои не обладают огромной мощью и силой, их основной оружие – это ум и ловкость. Главными противниками выступают солдаты с фонариками и крысы, ненавидящие свет. По словам разработчиков, сюжетная кампания рассчитана на 10 часов непрерывного прохождения. </p>

				<h3 class="article__main-text-header">Системные требования:</h3>
					<p>	Операционная система: Windows 7, Windows 8.1, Windows 10 (64-bit versions)<br>
					Процессор: Intel Core i3-2120 (3.3 GHz)/AMD FX-4100 X4 (3.6 GHz)<br>
					Оперативная память: 8 GB<br>
					Видеокарта: 2 GB, GeForce GTX 660/Radeon HD 7870<br>
					Свободное место на жестком диске: 41,5 GB</p>

				<h3 class="article__main-text-header">Особенности:</h3>
					<p>Вместе с Амицией и ее младшим братом Хьюго отправляйтесь в мрачное путешествие по средневековым деревням опустошенной чумой Франции. Избегайте несметных полчищ грызунов или манипулируйте ими, чтобы выжить и проложить себе путь. Объединяйтесь с другими сиротами, чтобы улизнуть от инквизиции и раскрыть тайну возникновения чумы, терроризирующей Францию. Прячьтесь от инквизиции, но берегитесь крыс. Вам придется научиться использовать одного врага, чтобы спастись от другого.</p>

				<h3 class="article__main-text-header">Герои:</h3>
					<p>АМИЦИЯ де РУН. Амиции 15 лет - это сильная и независимая девушка, которую отец научил всем премудростям охоты. Раньше она почти не виделась со своим младшим братом, но совсем скоро им придется доверить друг другу жизни.<br>
					ГУГО де РУН. Пятилетний Гуго болен неизвестной болезнью, из-за которой он почти все детство провел в четырех стенах. Он ничего не знает о мире вокруг, кроме одного: даже ужасы чумы страшат его меньше, чем жизнь взаперти.<br>
					ИНКВИЗИЦИЯ. Пока земли Франции разоряют чума и война, инквизиция гонится за детьми семейства де Рун - никто не знает почему. У Амиции и Гуго не хватит сил победить огромных рыцарей в открытом бою, так что детям потребуется вся их сноровка, чтобы сбежать от преследователей.<br>
					КРЫСЫ. Францию захлестнули полчища крыс. В пораженных чумой деревнях, в городах и на полях сражений эти неуправляемые вечно голодные твари сжирают все на своем пути. И, как кажется, только огонь и свет способны замедлить их наступление.</p>
			</section>

			<section class="article__main-media">
				<iframe width="426" height="326" src="https://www.youtube.com/embed/gjIb9dQgUF0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

				<iframe width="426" height="326" src="https://www.youtube.com/embed/MOtrSrgDaCY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</section>

			<section class="article__main-comments-write">
				<form class="article__main-form" action="">
					<input class="input input-form" placeholder="имя...">

					<textarea class="input input-form" placeholder="комментарий..." rows="4"></textarea>

					<input class="btn btn-mc btn-rounded btn-primary" type="submit"></input>
				</form>
			</section>

			<section class="article__main-comments-block">
				<div class="article__main-comment">
					<div class="article__comment-name">
						User
					</div>

					<div class="article__comment-time">
						03.09.2020 12:30
					</div>

					<div class="article__comment-text">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quia aspernatur nulla delectus omnis, perspiciatis nemo suscipit impedit maiores voluptate molestiae laboriosam accusantium aliquam ratione aperiam sunt eligendi pariatur asperiores?
					</div>

					<div class="article__comment-carma">
						<button class="btn btn-mc btn-rounded btn-dark-green article__comment-likes">1000 likes</button>
						
						<button class="btn btn-mc btn-rounded btn-danger article__comment-dislikes">1000 dislikes</button>
					</div>
				</div>

				<div class="article__main-comment">
					<div class="article__comment-name">
						User
					</div>

					<div class="article__comment-time">
						03.09.2020 12:30
					</div>

					<div class="article__comment-text">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quia aspernatur nulla delectus omnis, perspiciatis nemo suscipit impedit maiores voluptate molestiae laboriosam accusantium aliquam ratione aperiam sunt eligendi pariatur asperiores?
					</div>

					<div class="article__comment-carma">
						<button class="btn btn-mc btn-rounded btn-dark-green article__comment-likes">1000 likes</button>
						
						<button class="btn btn-mc btn-rounded btn-danger article__comment-dislikes">1000 dislikes</button>
					</div>
				</div>

				<div class="article__main-comment">
					<div class="article__comment-name">
						User
					</div>

					<div class="article__comment-time">
						03.09.2020 12:30
					</div>

					<div class="article__comment-text">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quia aspernatur nulla delectus omnis, perspiciatis nemo suscipit impedit maiores voluptate molestiae laboriosam accusantium aliquam ratione aperiam sunt eligendi pariatur asperiores?
					</div>

					<div class="article__comment-carma">
						<button class="btn btn-mc btn-rounded btn-dark-green article__comment-likes">1000 likes</button>
						
						<button class="btn btn-mc btn-rounded btn-danger article__comment-dislikes">1000 dislikes</button>
					</div>
				</div>
			</section>
		 </main>
		
		 <footer class="global__footer">
			<p>SergoIndustries</p>
			<p>2019-2020</p>
		</footer>
	</body>

</html>