<!-- Создал    - Кузнецов Артём,  ИС-21-31-41 -->
<!-- Доработал - Корляков Сергей, ИС-21-31-41 -->

<!DOCTYPE html>

<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>MGS</title>
		<link rel="stylesheet" href="css/global.css">
		<link rel="stylesheet" href="css/start-page.css">
	</head>

	<body class="global__body">
		<header class="global__header">
			<a href="index.html" class="global__header-logo">MGS</a>
		</header>
		
		<aside class="global__aside">
			<nav class="global__aside-nav">
				<h3>Меню</h3>

				<ul class="global__nav-list">
					<li class="global__nav-list-item">
						<a href="test">FPS</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">RPG</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">RTS</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Аркады</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Выживание</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Гонки</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Для девочек</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Драки</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Зомби</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Квесты</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Логические</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Музыкальные</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">На двоих</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Приключение</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Симуляторы</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Спортивные</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Стелс</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Стратегии</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Танцы</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Ужасы</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Шутеры</a>
					</li>
					<li class="global__nav-list-item">
						<a href="test">Экшен</a>
					</li>
				</ul>
			</nav>
		</aside>

		<main class="global__main">
			<section class="start-page__main-section">
				<div class="start-page__game-preview">
					<a href="Web-Pages/RAGE 2.html">
						<img src="img/RAGE 2/1.jpg" width="130" height="165" alt="Пример">
						</p>RAGE 2</p>
					</a>
				</div>
				
				<div class="start-page__game-preview">
					<a href="article.html">
						<img src="img/A Plague Tale Innocence/1.jpg" width="130" height="165" alt="Пример">
						</p>A Plague Tale Innocence</p>
					</a>
				</div>
				
				<div class="start-page__game-preview">
					<a href="Web-Pages/Forza Horizon 4.html">
						<img src="img/Forza Horizon 4/1.jpg" width="130" height="165" alt="Пример">
						</p>Forza Horizon 4</p>
					</a>
				</div>
				
				<div class="start-page__game-preview">
					<a href="Web-Pages/Darksiders III.html">
						<img src="img/Darksiders III/1.jpg" width="130" height="165" alt="Пример">
						</p>Darksiders III</p>
					</a>
				</div>
				
				<div class="start-page__game-preview">
					<a href="Web-Pages/Kingdom Come Deliverance.html">
						<img src="img/Kingdom Come Deliverance/1.jpg" width="130" height="165" alt="Пример">
						</p>Kingdom Come: Deliverance</p>
					</a>
				</div>

				<div class="start-page__game-preview">
					<a href="Web-Pages/RESIDENT EVIL 2  BIOHAZARD RE2.html">
						<img src="img/RESIDENT EVIL 2  BIOHAZARD RE2/1.jpg" width="130" height="165" alt="Пример">
						</p>RESIDENT EVIL 2 / BIOHAZARD RE:2</p>
					</a>
				</div>

								<div class="start-page__game-preview">
					<a href="Web-Pages/RAGE 2.html">
						<img src="img/RAGE 2/1.jpg" width="130" height="165" alt="Пример">
						</p>RAGE 2</p>
					</a>
				</div>
				
				<div class="start-page__game-preview">
					<a href="article.html">
						<img src="img/A Plague Tale Innocence/1.jpg" width="130" height="165" alt="Пример">
						</p>A Plague Tale Innocence</p>
					</a>
				</div>
				
				<div class="start-page__game-preview">
					<a href="Web-Pages/Forza Horizon 4.html">
						<img src="img/Forza Horizon 4/1.jpg" width="130" height="165" alt="Пример">
						</p>Forza Horizon 4</p>
					</a>
				</div>
				
				<div class="start-page__game-preview">
					<a href="Web-Pages/Darksiders III.html">
						<img src="img/Darksiders III/1.jpg" width="130" height="165" alt="Пример">
						</p>Darksiders III</p>
					</a>
				</div>
				
				<div class="start-page__game-preview">
					<a href="Web-Pages/Kingdom Come Deliverance.html">
						<img src="img/Kingdom Come Deliverance/1.jpg" width="130" height="165" alt="Пример">
						</p>Kingdom Come: Deliverance</p>
					</a>
				</div>

				<div class="start-page__game-preview">
					<a href="Web-Pages/RESIDENT EVIL 2  BIOHAZARD RE2.html">
						<img src="img/RESIDENT EVIL 2  BIOHAZARD RE2/1.jpg" width="130" height="165" alt="Пример">
						</p>RESIDENT EVIL 2 / BIOHAZARD RE:2</p>
					</a>
				</div>
								<div class="start-page__game-preview">
					<a href="Web-Pages/RAGE 2.html">
						<img src="img/RAGE 2/1.jpg" width="130" height="165" alt="Пример">
						</p>RAGE 2</p>
					</a>
				</div>
				
				<div class="start-page__game-preview">
					<a href="article.html">
						<img src="img/A Plague Tale Innocence/1.jpg" width="130" height="165" alt="Пример">
						</p>A Plague Tale Innocence</p>
					</a>
				</div>
				
				<div class="start-page__game-preview">
					<a href="Web-Pages/Forza Horizon 4.html">
						<img src="img/Forza Horizon 4/1.jpg" width="130" height="165" alt="Пример">
						</p>Forza Horizon 4</p>
					</a>
				</div>
				
				<div class="start-page__game-preview">
					<a href="Web-Pages/Darksiders III.html">
						<img src="img/Darksiders III/1.jpg" width="130" height="165" alt="Пример">
						</p>Darksiders III</p>
					</a>
				</div>
				
				<div class="start-page__game-preview">
					<a href="Web-Pages/Kingdom Come Deliverance.html">
						<img src="img/Kingdom Come Deliverance/1.jpg" width="130" height="165" alt="Пример">
						</p>Kingdom Come: Deliverance</p>
					</a>
				</div>

				<div class="start-page__game-preview">
					<a href="Web-Pages/RESIDENT EVIL 2  BIOHAZARD RE2.html">
						<img src="img/RESIDENT EVIL 2  BIOHAZARD RE2/1.jpg" width="130" height="165" alt="Пример">
						</p>RESIDENT EVIL 2 / BIOHAZARD RE:2</p>
					</a>
				</div>
			</section>
		</main>

		<footer class="start-page__footer">
			<p>SergoIndustries</p>
			<p>2019-2020</p>
		</footer>
	</body>
</html>