<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/style-lib-template.css">
	<link rel="stylesheet" href="css/style-lib-flat-disign.css">
</head>
<body>
	<div class="global__header-search">
		<input class="global__header-search-nput" type="text" placeholder="Найти...">
		<button class="global__header-search-btn btn btn-sm btn-primary">Поиск</button>

		<script src="js/search.js"></script>
	</div>
</body>
</html>
