/* ------------------------------- article ------------------------------- */ 

/* -------------------- body -------------------- */

.article__body{
	text-align: justify;
	font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* -------------------- main -------------------- */

.article__main{
	display: grid;
	grid-template-areas: 'artcover info'
						 'desctext desctext'
						 'media    media';
	grid-template-columns: 250px 1fr;
	grid-template-rows: auto auto auto;

	font-size: 1.05em;

	border-top: 2px solid #2c2c2c;
    border-bottom: 2px solid #2c2c2c;
}

/* -------------------- content -------------------- */

.article-main__artcover-game{
	grid-area: artcover;
}
.article-main__info-game{
	grid-area: info;

	margin: 15px;

	border-bottom: 2px dashed #cccccc;
}
.article-main__text{
	grid-area: desctext;

	margin: 15px;

	border-bottom: 2px dashed #999999;
}
.article-main__text-header{
	font-family: Consolas;
	font-style: italic;
}
.article-main__media{
	grid-area: media;

	margin: 15px 0px;
	padding-top: 15px;
	text-align: center;
}
