/* ------------------------------- start page ------------------------------- */

.body-start-page{
	margin: 0px;
	padding: 0px;
	
	display: grid;
	grid-template-areas: 'header header header'
						 'aside  main   none'
						 'footer footer footer';
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 30px 1fr auto;
	
	background: #3e3e3e;
	color: white;
}

.start-page__header{
	grid-area: header;
	
	text-align: center;
	position: sticky;
	top: 0px;

	background: #1f6100;
}
.start-page__header-logo{
	text-decoration: none;
	font-family: Consolas;
	font-size: 1.7em;
	font-style: italic;

	color: #ffffff;
}

.start-page__aside{
	grid-area: aside;

	display: grid;
	grid-template-areas: 'none1 nav none2';
	grid-template-columns: 3fr auto 1fr;
	grid-template-rows: auto 1fr;
}
.start-page__aside-nav{
	grid-area: nav;

	padding: 5px 20px;
	top: 40px;
	position: sticky;

	font-family: Arial;

	border: 1px solid #2c2c2c;
	background: #4c4c4c;
}
.start-page__nav-list{
	list-style: none;
	padding: 0px;
}
.start-page__nav-list-item{

}
.start-page__aside-nav a{
	text-decoration: none;
	color: #ffffff;
}

.start-page__main{
	grid-area: main;

	margin-top: 10px;

	border-left:  1px solid #2c2c2c;
	border-right: 1px solid #2c2c2c;
}
.start-page__main-section{
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: stretch;

    border-top: 1px solid #2c2c2c;
    border-bottom: 1px solid #2c2c2c;
	background: #4c4c4c;
}

.start-page__game-preview{
	text-align: center;
    width: 165px;
    margin: 10px;

	background: #5c5c5c;
}
.start-page__game-preview a{
	color: #ffffff;
}

.start-page__footer{
	grid-area: footer;

	text-align: center;
	font-family: Consolas;
	font-style: italic;

	background: #1f6100;
}
