/* ------------------------------- start page ------------------------------- */ 

/* -------------------- sections -------------------- */

.start-page__main-section-pages{
	text-align: center;
	font-size: 1.4em;
	font-family: Consolas;

	border-bottom: 2px solid #2c2c2c;
	background: #4c4c4c;
}
.start-page__main-section-pages a{
	text-decoration: none;
	padding: 0px 5px;

	color: #ffffff;
}
