body{
	background: #2d2d2d;
	color: white;
}
header {
	background: #357854;
}
header .obl{
	color: #faa76c;
}
nav{
  	background: #3c3c3c;
}
nav h3{
	color: white;
}
nav h3:after {
	background: #a3d6ba;
	box-shadow: -8px -8px #a3d6ba, 0 -8px #a3d6ba, -8px 0 #a3d6ba;
}
nav a{
	color: white;
}
nav a:hover {
	background: #a3d6ba;
	color: black;
}
main{
  	background: #3c3c3c;
}
main .tth p{
	border-bottom: 1px dashed white;
}
main .trailers{
	border-top: 1px dashed white;
}
main img{
	border: 1px solid white;
}
main > .num_list a{
	color: white;
}
footer{
	background: #357854;
}