body{
	background: #d2d2d2;
	color: black;
}
header {
	background: #80C8A0;
}
header .obl{
	color: #d53e07;
}
nav{
  	background: #e8e8e8;
}
nav h3{
	color: black;
}
nav h3:after {
	background: #5cb887;
	box-shadow: -8px -8px #5cb887, 0 -8px #5cb887, -8px 0 #5cb887;
}
nav a{
	color: black;
}
nav a:hover {
	background: #5cb887;
	color: white;
}
main{
  	background: #e8e8e8;
}
main .tth p{
	border-bottom: 1px dashed black;
}
main .trailers{
	border-top: 1px dashed black;
}
main img{
	border: 1px solid black;
}
main > .num_list a{
	color: black;
}
footer{
	background: #80C8A0;
}